* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

:root {
    --primary: #1c1c1c;
    --secondary: #F8D716;
    --visited: #B2B1B9;
}

nav .container-nav {
    /* background-color: salmon; */
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin: 100px auto 0;
}

.container-nav .profile {
    width: 126px;
    height: 126px;
    background-image: url("../img/profil-beranda.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0px 4px 10px 0px var(--primary)
}

.container-nav .heading {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.nav {
    width: 100%;
}

.heading div:nth-child(1) {
    font-size: 1.5rem;
    color: var(--primary);
}

.heading div:nth-child(2) {
    color: var(--secondary);
}

.heading span {
    margin: 0 auto;
    height: 3px;
    width: 50%;
    background-color: var(--secondary);
}

.container-nav .navbar-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-menu a {
    color: var(--visited);
    font-weight: bold;
    padding: 6px 0;
    margin-top: 12px;
}

.visited:visited {
    color: var(--primary);
}

main .container-main {
    /* background-color: salmon;s */
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-main .content-2 {
    display: grid;
    grid-template-columns: 1fr;
}

#big-icon {
    display: none;
}

#small-icon {
    display: block;
    font-size: 2rem;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--secondary);
}

.content-2 .text {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin-bottom: 16px;
}

.text .title {
    display: flex;
    align-items: center;
    column-gap: 20px;
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 8px;
}

.title h1 {
    width: 100%;
    font-size: 1.5rem;
}

.text .profesi {
    display: flex;
    justify-content: space-between;
}

.profesi .heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heading h3 {
    font-size: 0.8rem;
}

.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 4px 12px;
    background-color: var(--secondary);
    border-radius: 4px;
    font-size: 1.2rem;
}

.text .body-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 2px solid var(--secondary);
}

ul li {
    list-style: disc;
    line-height: 1.5rem;
    margin-left: 16px;
}

.text .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.tools img {
    display: block;
    width: 4rem;
    border-radius: 4px;
    margin: 8px auto;
}

main>a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    padding: 4px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

main>a:hover {
    background-color: var(--secondary);
    transition: ease-out 0.5s;
    border-radius: 8px;
}

footer .container-footer {
    width: 80%;
    border-top: 2px solid #ddd;
    padding: 12px 0;
    margin: 0 auto;
}

.container-footer .content {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.content .logo {
    background-image: url("../img/logo-circle.png");
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.content p {
    font-weight: bold;
}


/* mobile */
@media (min-width: 576px) {
    .container-nav .navbar-menu {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar-menu a {
        color: var(--visited);
        font-weight: bold;
        padding: 6px 0;
    }

    .container-nav .navbar-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .visited:visited {
        color: var(--primary);
    }
}

/* tablet */
@media (min-width: 768px) {
    nav .container-nav {
        /* background-color: salmon; */
        width: 80%;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        column-gap: 20px;
        margin: 100px auto 0;
    }

    .container-nav .profile {
        background-image: url("../img/profil-beranda.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        box-shadow: 0px 4px 10px 0px var(--primary);
    }

    .container-nav .heading {
        font-weight: bold;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 8px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .heading span {
        text-align: center;
        margin: 0;
        height: 3px;
        width: 80%;
        background-color: var(--secondary);
    }

    .container-nav .navbar-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    main .container-main {
        width: 80%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    footer .container-footer {
        width: 80%;
        border-top: 2px solid #ddd;
        padding: 12px 0;
        margin: 0 auto;
    }
}

/* desktop */
@media (min-width: 992px) {
    nav .container-nav {
        /* background-color: salmon; */
        width: 65%;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        column-gap: 40px;
        margin: 120px auto 0;
    }

    .container-nav .profile {
        background-image: url("../img/profil-beranda.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        box-shadow: 0px 4px 10px 0px var(--primary);
    }

    .container-nav .heading {
        font-weight: bold;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 8px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .heading span {
        text-align: center;
        margin: 0;
        height: 3px;
        width: 100%;
        background-color: var(--secondary);
    }

    .container-nav .navbar-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu a {
        color: var(--visited);
        font-weight: bold;
        padding: 8px 12px;
    }

    .visited:visited {
        color: var(--primary);
    }

    .navbar-menu a:hover {
        color: var(--primary);
        font-weight: bold;
        padding: 8px 12px;
        background-color: var(--secondary);
        border-radius: 8px;
        transition: ease-out 0.5s;
    }

    .navbar-menu a:active {
        color: var(--primary);
        font-weight: bold;
        padding: 8px 12px;
        background-color: #ebca12;
        border-radius: 8px;
    }

    main .container-main {
        width: 65%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        column-gap: 30px;
        align-items: self-start;
    }

    #big-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        padding: 12px;
        border-radius: 100px;
        background-color: var(--secondary);
        width: 100px;
        height: 100px;
    }

    #big-icon:nth-child(2) {
        margin: 800px 0 70px 0;
    }

    #small-icon {
        display: none;
    }

    .container-main a {
        border-radius: 8px;
    }

    .container-main a:hover {
        border-radius: 8px;
        background-color: var(--secondary);
        transition: ease-out 0.5s;
    }

    footer .container-footer {
        width: 65%;
        border-top: 2px solid #ddd;
        padding: 12px 0;
        margin: 100px auto 0;
    }
}

/* full HD */
@media (min-width: 1400px) {
    nav .container-nav {
        /* background-color: salmon; */
        width: 50%;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        column-gap: 40px;
        margin: 120px auto 0;
    }

    .container-nav .profile {
        background-image: url("../img/profil-beranda.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        box-shadow: 0px 4px 10px 0px var(--primary);
    }

    .container-nav .heading {
        font-weight: bold;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 8px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .heading span {
        text-align: center;
        margin: 0;
        height: 3px;
        width: 100%;
        background-color: var(--secondary);
    }

    .container-nav .navbar-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu a {
        color: var(--visited);
        font-weight: bold;
        padding: 8px 12px;
    }

    .visited:visited {
        color: var(--primary);
    }

    .navbar-menu a:hover {
        color: var(--primary);
        font-weight: bold;
        padding: 8px 12px;
        background-color: var(--secondary);
        border-radius: 8px;
        transition: ease-out 0.5s;
    }

    .navbar-menu a:active {
        color: var(--primary);
        font-weight: bold;
        padding: 8px 12px;
        background-color: #ebca12;
        border-radius: 8px;
    }

    main .container-main {
        width: 50%;
        margin: 50px auto;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        column-gap: 30px;
        align-items: self-start;
    }

    #big-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        padding: 12px;
        border-radius: 100px;
        background-color: var(--secondary);
        width: 100px;
        height: 100px;
    }

    #big-icon:nth-child(2) {
        margin: 670px 0 60px 0;
    }

    #small-icon {
        display: none;
    }

    main>a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px auto;
        padding: 4px;
        width: 60px;
        height: 60px;
        border-radius: 8px;
    }

    main>a:hover {
        background-color: var(--secondary);
        transition: ease-out 0.5s;
        border-radius: 8px;
    }


    footer .container-footer {
        width: 50%;
        border-top: 2px solid #ddd;
        padding: 12px 0;
        margin: 100px auto 0;
    }
}